.bleu-circle {
  display: block;
  background: black;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  margin: 0;
  background: radial-gradient(circle at 10px 10px, #5cabff, #000);
}
.red-circle {
  display: block;
  background: black;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  margin: 0;
  background: radial-gradient(#e66465, red, #9198e5);
}
.ballons{
	display: flex;
	flex-wrap: wrap;
}